backups/
auto-save-list/
.emacs.desktop.lock
.emacs.desktop
ac-comphist.dat
ido.last
places
recentf
*.log
eshell/history
eshell/lastdir
*.last
places
elpa/
elpa/*
abbrev_defs
elpa.back
emacs.tar.gz
.python-environments/*
emms
/ensime/classpath_*
/projectile-bookmarks.eld
#*#
/#recentf#
games/
session.*
tags
/var/pcache/cache
tramp
url/cookies
savehist
/.last-package-update-day
/.mc-lists.el
/menu_log.notes
/tutorial/
/var/
