[submodule "plugins/ESS"]
	path = plugins/ESS
	url = git://github.com/emacs-ess/ESS.git
[submodule "plugins/emacs-realtime-markdown-viewer"]
	path = plugins/emacs-realtime-markdown-viewer
	url = git@github.com:syohex/emacs-realtime-markdown-viewer.git
[submodule "plugins/emacs-websocket"]
	path = plugins/emacs-websocket
	url = git@github.com:ahyatt/emacs-websocket.git
[submodule "plugins/web-mode"]
	path = plugins/web-mode
	url = git@github.com:fxbois/web-mode.git
[submodule "plugins/emux"]
	path = plugins/emux
	url = https://github.com/re5et/emux.git
[submodule "plugins/emacs-tss"]
	path = plugins/emacs-tss
	url = https://github.com/aki2o/emacs-tss.git
[submodule "plugins/tern"]
	path = plugins/tern
	url = git@github.com:ternjs/tern.git
[submodule "es6-snippets"]
	path = es6-snippets
	url = git@github.com:codyreichert/es6-snippets
[submodule "plugins/evil-ranger"]
	path = plugins/evil-ranger
	url = https://github.com/ralesi/ranger.git
